@media screen and (min-width: 10px) {


/* right now I don't want to see the navigation by default */

   .nav {
     z-index: 10;
     background-color: #706fd3;
     width: 300px;
     position: absolute;
     top: 0;
     -webkit-transform: translate(-999px, 0);
     transform: translate(-999px, 0);
     transition: transform 0.3s ease;
   }

   .nav.open {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
   }

   .nav_item {
     border-bottom: 1px solid #d1ccc0;
     padding: 1rem;
     display: list-item;
     width: 100%;
     text-align: left;
   }

   .nav_item a {
     color: #fff;
     cursor: pointer;
   }

   .nav_item:hover {
     background-color: #474787;
   }

}


@media screen and (min-width: 640px) {


/* TYPO - Font Settings */

    h3 {
     font-size: 1.2rem;
   }

   .hero_description {
     position: absolute;
     color: #fff;
     text-shadow: 1px 1px 0 #000;
     margin-top: -10rem;
     padding: 1rem 2rem;
     width: 80%;
   }

   .footer_nav_left a  {
     padding: 0 1rem 0 0;
   }

   .footer_nav_right a  {
     padding: 0 0 0 1rem;
   }


  /* LAYOUT Grid elements */

   .title {
     padding-right: 2.25rem;
   }

   .box {
     padding: 1rem;
   }

   .wrapper {
     display: grid;
     width: 100%;
     grid-row-gap: 1rem;
     grid-column-gap: 1rem;
     grid-template-areas:
         "header header header"
         "hero hero hero"
         "featured_work featured_work featured_work"
         "work1 work2 work3";
     grid-template-columns: 1fr 1fr 1fr;
     align-items: stretch;
   }

   .footer {
     background-color: #f6f6f6;
     padding-top: 2.25rem;
     padding-bottom: 2.25rem;
     display: grid;
     width: 100%;
     margin-top: 2.25rem;
     grid-row-gap: 1rem;
     grid-column-gap: 2rem;
     grid-template-areas:
         "footer_nav_left"
         "footer_nav_right";
     grid-template-columns: 1fr;
   }

   .footer_nav_left {
     padding-bottom: 0;
   }

}

@media screen and (min-width: 800px) {


/* TYPO - Font Settings & Hover effects */

   .hero h2 {
     padding-bottom: 1rem;
   }

   h3 {
     font-size: 1.4rem;
   }

  picture,
   .work1,
   .work2,
   .work3 {
     transition: all .5s ease;
   }

   .work1:hover,
   .work2:hover,
   .work3:hover {
     box-shadow: 5px 5px 25px 0 rgba(46,61,73,0.2);
   }


/* LAYOUT  */

   .box {
     padding: 1rem 3rem;
   }

   .header,
   .hero {
     padding-bottom: 3rem;
   }

   .work_preview_content {
     padding: 1rem 2rem;
   }

   .footer {
     padding-top: 2.25rem;
     padding-bottom: 2.25rem;
     display: grid;
     width: 100%;
     margin-top: 2rem;
     grid-row-gap: 1rem;
     grid-column-gap: 1rem;
     grid-template-areas:
         "footer_nav_left footer_nav_right";
     grid-template-columns: 1fr 1fr;
     align-items: center;
   }

   .footer_nav_left {
     justify-content: flex-start;
   }

   .footer_nav_right {
     justify-content: flex-end;
   }

}
